<!-- File name: footer.ejs
Author's name: Tanveer
Website name: azuresite.com
File Description: This file contains the footer for all pages. -->

<footer class="w3-container w3-teal">
    
    <p>Tanveer Kalia</p>
  </footer>
</body>
</html>