<!-- File name: header.ejs
Author's name: Tanveer
Website name: azuresite.com
File Description: This file has the common header for all pages. -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }
      
      li {
          float: left;
      }
      
      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      
      li a:hover {
          background-color: #111;
      }
      </style>
      </head>
      <body>
  
  <ul>
    <li><a class="active" href="/">Cars</a></li>
    <li><a href="/cars">Cars</a></li>
    <% if (user) { %>
      <li><a href="/admin">Cars</a></li>
      <% } %>

      <% if (!user) { %>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <% } %>
    <% if (user) { %>
      <li>
          <a href="/logout">Logout</a>
      </li>
      <% } %>

  </ul>
  
  