<% include partials/header %>
<form method="POST" action="/add">
    Make:<br>
    <input type="text" name="make" >
    <br>
    Model:<br>
    <input type="text" name="model" >
    <br>
    Year:<br>
    <input type="text" name="year" >
    <br><br>
    <input type="submit" value="Submit">

    
  </form> 
  <% include partials/footer %>