<!-- File name: index.ejs
Author's name: Tanveer
Website name: azuresite.com
File Description: This page is the homepage of the site -->

<% include partials/header %>
    

  
      <center>
      <img src="../images/car.jpg" alt="Nice car" style="width: 60%" height="60%" >

      </center>
      
      <div class="w3-container">
        <p>It is the website of car company. It has list of all the cars available in the company with their make, model and year.</p> 
        </div>   

    <% include partials/footer %>