<% include partials/header %>
<form method="POST">
    User name:<br>
    <input type="text" name="firstname" >
    <br>
    Password:<br>
    <input type="password" name="password" >
    <br>
    Re-enter Password:<br>
    <input type="password" name="rpassword" >
    <br><br>
    <input type="submit" value="Submit">
  </form> 
  <% include partials/footer %>