<% include partials/header %>
<form method="POST">
    User name:<br>
    <input type="text" name="firstname" >
    <br>
    Password:<br>
    <input type="password" name="password" >
    <br>
    Re-enter Password:<br>
    <input type="password" name="rpassword" >
    <br><br>
    <input type="submit" value="Submit">

    <a href="/google">
        <img src="./images/google.png" alt="Google login" style="border-radius: 10px">
    </a>
  </form> 
  <% include partials/footer %>